.berkeley{
  font-size: 1.5rem;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  transition: font-size 1s ease, top 1s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.berkeley:hover,
.berkeley.hovered {
  font-size: 2rem;
  font-weight: bold;
  animation: shake 0.9s ease-in-out infinite;
  top: 22%;
  left: 44.5%;
  transform: translateX(-50%);
}

.city {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translateX(-50%) translateY(-40%);
  width: 150px;
  height: 150px;
  background-image: url("../../../public/skyline.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
  transition: transform 2s ease, width 2s ease, height 2s ease;
}

.city:hover {
  transform: translate(-50%, -60%) scale(1.5); 
  height: 200px; 
  width: 200px;
}

@keyframes shake {
  0%, 100% {
    transform: translate(-2px, -2px);
  }
  25% {
    transform: translate(2px, 2px);
  }
  50% {
    transform: translate(-2px, 2px);
  }
  75% {
    transform: translate(2px, -2px);
  }
}

.road {
  position: absolute;
  bottom: 0rem;
  left: -10vh;
  width: 110vw;
  height: 890vh;
  background-color: #444;
  transform-style: preserve-3d;
  transform-origin: bottom;
  transform: perspective(10rem) rotateX(20deg);
  z-index: 10;
}

.road::before{
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  height: 100%;
  width: 2rem;
  animation: animate .8s linear infinite;
  background: linear-gradient(0deg, #fff 50%, transparent 50%);
  background-size: 1rem 20rem; /* Ancho del punto y espacio entre puntos */
}

@keyframes animate {
  0%{
    background-position: 0 0;
  }
  100%{
    background-position: 0 20rem;
  }
}

.green {
  position: absolute;
  bottom: 0rem;
  width: 100vw;
  height: 56.1vh;
  background-color: #35682d;
  background-image: linear-gradient(to bottom,#1ebb06, #0d8604);
  z-index: 8;

}


/* Phone */

.phone {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  width: 20rem; /* Ancho del "teléfono" */
  max-width: 40rem; /* Alto del "teléfono" */
  background-color: #f4f4f4; /* Color de fondo */
  border-radius: 2rem; /* Borde redondeado */
  border-width: .5rem .5rem .5rem;
  border-color: #333;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Sombra suave */
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.innerContent {
  flex: 1;
  display: flex;
}

.topPhone{
  position: absolute;
  width: 7rem;
  height: .7rem;
  background-color: #333;
  top: -.3rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1rem;
}

.bottomPhone{
  position: absolute;
  width: 7rem;
  height: .4rem;
  background-color: #333;
  bottom: .3rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1rem;
}

.leftSection {
  flex: 1;
  padding: 20px;
  background-color: #f8faff; 
  color: rgb(7, 7, 7);
  height: 77vh;
}

.leftSection h1 {
  margin-bottom: 10px;
  font-size: 24px; 
}

.leftSection p {
  margin-bottom: 5px;
  font-size: 14px; 
}

.socialLinks {
  margin-top: 20px;
}

.socialLinks a {
  display: block;
  margin-bottom: 5px;
  color: rgb(24, 24, 24);
  text-decoration: none;
  font-size: 14px; 
}

.socialLinks a:hover {
  text-decoration: underline;
}

/* rightSection */

.rightSection {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  width: 20rem; /* Ancho del "teléfono" */
  max-width: 40rem; /* Alto del "teléfono" */
  background-color: #f4f4f4; /* Color de fondo */
  border-radius: 2rem; /* Borde redondeado */
  border-width: .5rem .5rem .5rem;
  border-color: #333;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Sombra suave */
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.rightSection h2 {
  margin-bottom: 10px;
  font-size: 18px; /* Tamaño del título */
}

.rightSection h3 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 16px; /* Tamaño del título */
}

.rightSection p {
  line-height: 1.6;
}

@media (max-width: 760px) {
  .phone {
    display: none;
  }
  .rightSection{
    display: none;
  }
  .berkeley{
    display: none;
  }
  .city{
    display: none;
  }
  .green{
    display: none;
  }
  .road{
    display: none;
  }

}


@media (max-width: 1036px) {
  .phone {
    width: 15rem;
    left: 5%;
  }
  .rightSection{
    width: 15rem;
    right: 5%;
  }

}


/* other */

.button {
  margin: .3rem .4rem .3rem 0;
  font-size: 1.8rem;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button > a{
  font-size: .2rem;
}

.button:hover {
transform: scale(1.1);
}

.logo {
  transition: transform 0.2s ease, color 0.2s ease;
}

.logo:hover {
transform: scale(1.1);
}

.linkedin .logo {
color: #0077b5; 
}

.github .logo {
color: #e87a3a; 
}

.whatsapp .logo {
  color: #54e83a; 
  }


  
